<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958083685984-kkct19a26h0i987rccooeisk6r50sm3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958083685984-kkct19a26h0i987rccooeisk6r50sm3o</string>
	<key>API_KEY</key>
	<string>AIzaSyBgdgPwg2-eOD-7BXq0YvQeAQ3yj-oiNsI</string>
	<key>GCM_SENDER_ID</key>
	<string>958083685984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KSG.Bliss</string>
	<key>PROJECT_ID</key>
	<string>bliss-9a98d</string>
	<key>STORAGE_BUCKET</key>
	<string>bliss-9a98d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958083685984:ios:3ab170c5b9b465a19f6d05</string>
	<key>DATABASE_URL</key>
	<string>https://bliss-9a98d.firebaseio.com</string>
</dict>
</plist>